form span {
    display: block;
}

.item-pill {

}

.item-pill:hover {
    background-color: red;
}

.img-wrapper {
    max-width: 100px;
    overflow: scroll;
}

.description-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    max-height: 40px !important;

}